alembic==0.8.6
factory-boy==2.11.1
fints==3.0.1
Flask==1.0.2
Flask-Bcrypt==0.7.1
Flask-Cors==3.0.3
Flask-JWT-Extended==3.20.0
Flask-Migrate==2.1.1
Flask-SQLAlchemy==2.3.2
freezegun==0.3.9
pytest==3.6.3
pytest-cov==2.5.1
pytest-watch==3.10.0
psycopg2==2.8.6
raven[flask]
simplejson==3.12.0 # for Decimal support in jsonify

-r requirements-heroku.txt
