alembic==0.8.6
Flask==0.10.1
Flask-Bcrypt==0.7.1
Flask-Cors==3.0.3
Flask-Login==0.3.2
Flask-Migrate==1.8.0
Flask-Script==2.0.5
Flask-SQLAlchemy==2.1
freezegun==0.3.9
pytest==2.9.0
pytest-cov==2.2.1
pytest-watch==3.10.0
psycopg2==2.7.1
raven[flask]

-r requirements-heroku.txt
