alembic==0.8.6
Flask==0.12.2
Flask-Bcrypt==0.7.1
Flask-Cors==3.0.3
Flask-Login==0.3.2
Flask-Migrate==2.1.1
Flask-SQLAlchemy==2.3.2
freezegun==0.3.9
pytest==2.9.0
pytest-cov==2.2.1
pytest-watch==3.10.0
psycopg2==2.7.1
raven[flask]
simplejson==3.12.0 # for Decimal support in jsonify

-r requirements-heroku.txt
