{% extends "index.html" %}

{% set active_page = 'bets_overview' -%}

{% block body %}
    <form action="/bets" method="POST">
      <table class="ui celled striped table">
        <thead>
          <tr>
            <th> Name </th>
            <th> Gebot </th>
            <th> Abholstelle </th>
            <th> Startmonat </th>
          </tr>
        </thead>
        <tbody>
          {% for share in shares | sort(attribute='name') | sort(attribute='station.name') %}
          <tr>
            <td>
              <a href="{{ url_for('share_details', share_id=share.id)}}">
                {{share.name}}
              </a>
            </td>
            <td>
                {{share.station.name}}
            </td>
            <td> <input type="number" value="{{share.bet_value}}" name="value-{{share.id}}"/> </td>
            <td>
              <select name='month-{{share.id}}'>
                <option value='4'  {% if share.start_month == 4 %}  selected='selected' {% endif %}>April</option>
                <option value='5'  {% if share.start_month == 5 %}  selected='selected' {% endif %}>Mai</option>
                <option value='6'  {% if share.start_month == 6 %}  selected='selected' {% endif %}>Juni</option>
                <option value='7'  {% if share.start_month == 7 %}  selected='selected' {% endif %}>Juli</option>
                <option value='8'  {% if share.start_month == 8 %}  selected='selected' {% endif %}>August</option>
                <option value='9'  {% if share.start_month == 9 %}  selected='selected' {% endif %}>September</option>
                <option value='10' {% if share.start_month == 10 %} selected='selected' {% endif %}>Oktober</option>
                <option value='11' {% if share.start_month == 11 %} selected='selected' {% endif %}>November</option>
                <option value='12' {% if share.start_month == 12 %} selected='selected' {% endif %}>Dezember</option>
              </select>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <input class="ui primary button" type="submit" value="Speichern" />
    </form>

{% endblock %}
