{% extends "index.html" %}

{% set active_page = 'bets_overview' -%}

{% block body %}
    <form action="/bets" method="POST">
      <table class="ui celled striped table">
        <thead>
          <tr>
            <th> Name </th>
            <th> Gebot </th>
          </tr>
        </thead>
        <tbody>
          {% for share in shares | sort(attribute='name')  %}
          <tr>
            <td>
              <a href="{{ url_for('share_details', share_id=share.id)}}">
                {{share.name}}
              </a>
            </td>
            <td> <input type="number" value="{{share.bet_value}}" name="{{share.id}}"/> </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <input class="ui primary button" type="submit" value="Speichern" />
    </form>

{% endblock %}
