<html>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.css" >
  <script
			  src="https://code.jquery.com/jquery-2.2.3.min.js"
			  integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="
			  crossorigin="anonymous"></script>
</head>

<body>
  {% set active_page = active_page|default('index') -%}
  {% set navigation_bar = [
		  ('index', 'Übersicht'),
			('bets_overview', 'Gebote'),
			('upload_file', 'Upload'),
            ('logout', 'Abmelden')
	] -%}
  <div class="ui four item menu">
		{% for view_name, title in navigation_bar %}
			<a class="item
								{% if view_name == active_page %} active{% endif %}"
					href="{{url_for(view_name)}}">
				{{ title|e }}
			</a>
		{% endfor %}
  </div>
  {% block body %}
  <table class="ui celled striped table">
    <thead>
      <tr>
        <th> Name </th>
        <th> Zahlungen </th>
        <th> Erwartet </th>
        <th> Kontostand </th>
        <th> Differenz </th>
      </tr>
    </thead>
    <tbody>
      {% for share in shares |sort(attribute='name') %}
      <tr>
        <td>
          <a href="{{ url_for('share_details', share_id=share.id)}}">
            {{share.name}}
          </a>
        </td>

        <td> {{share.number_of_deposits}} </td>
        <td> {{share.expected_today()}} </td>
        <td> {{share.total_deposits}} </td>
        <td {% if share.difference_today() < 0 %} class="negative"{% endif %}
            {% if share.difference_today() == 0 %} class="positive"{% endif %}
          >
          {{share.difference_today()}} </td>
      </tr>
      {% endfor %}
    </tbody>
   {% endblock %}
</body>
</html>
