{% extends "index.html" %}
{% block body %}
<script>
  function editName(){
    var nameField = document.querySelector('#sharename');
    var newInput = document.createElement("input");
    newInput.value = nameField.textContent;
    newInput.name = 'name';
    nameField.parentNode.replaceChild(newInput, nameField);
  }
</script>
<h1> Deposits for 
  <form action='/share/{{share.id}}/rename' method='POST' style='display: inline-block;'>
    <span id='sharename'>{{share.name}}</span>
    <a onclick='editName()'><i class='write icon'></i></a> </h1>
  </form>
  <table class="ui celled striped table">
    <thead>
      <tr>
        <th> Datum </th>
        <th> Betrag </th>
        <th> Titel </th>
        <th> Überweiser </th>
        <th> Ignorieren? </th>
      </tr>
    </thead>
    <tbody>
      {% for deposit in share.deposits %}
      <tr {% if deposit.ignore %}class="ignored"{% endif %}>
        <td> {{deposit.timestamp}} </td>
        <td> {{deposit.amount}} </td>
        <td> {{deposit.title}} </td>
        <td>
          <a href="{{ url_for('.person_details', person_id=deposit.person.id)}}">
            {{deposit.person.name}}
          </a>
        </td>
        <td>
          <form action='/deposit/{{deposit.id}}/ignore' method='GET'>
            <input type=submit value='{% if deposit.ignore %}Einbeziehen {% else %}Ignorieren{% endif %}'></input>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <h2> Diesen Anteil mit einem anderen zusammenführen </h2>

  <form action="/merge_shares" method="POST">
    <select name="merge_share">
      {% for share in all_shares | sort(attribute='name') %}
      <option value="{{share.id}}"> {{ share.name }} </option>
      {% endfor %}
      <input type="hidden" value="{{share.id}}" name="original_share" />
      <input type="submit" />
    </select>
  </form>

<style>
tbody tr.ignored{
  text-decoration: line-through;
}
</style>

{% endblock %}
