{% extends "index.html" %}
{% block body %}
  <h1> Deposits for {{person.name}} </h1>
  <table class="ui celled striped table">
    <thead>
      <tr>
        <th> Datum </th>
        <th> Betrag </th>
        <th> Titel </th>
      </tr>
    </thead>
    <tbody>
      {% for deposit in person.deposits %}
      <tr>
        <td> {{deposit.timestamp}} </td>
        <td> {{deposit.amount}} </td>
        <td> {{deposit.title}} </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
