<html>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.css" >
</head>

<body>
  {% set active_page = active_page|default('index') -%}
  {% set navigation_bar = [
		  ('index', 'Übersicht'),
			('bets_overview', 'Gebote'),
			('upload_file', 'Upload')
	] -%}
  <div class="ui three item menu">
		{% for view_name, title in navigation_bar %}
			<a class="item
								{% if view_name == active_page %} active{% endif %}"
					href="{{url_for(view_name)}}">
				{{ title|e }}
			</a>
		{% endfor %}
  </div>
  {% block body %}
  <table class="ui celled striped table">
    <thead>
      <tr>
        <th> Name </th>
        <th> Zahlungen </th>
        <th> Erwartet </th>
        <th> Kontostand </th>
        <th> Differenz </th>
      </tr>
    </thead>
    <tbody>
      {% for person in people %}
      <tr>
        <td>
          <a href="{{ url_for('person_details', person_id=person.id)}}">
            {{person.name}}
          </a>
        </td>
        <td> {{person.number_of_deposits}} </td>
        <td> {{person.expected_today(1)}} </td>
        <td> {{person.total_deposits}} </td>
        <td {% if person.difference_today(1) < 0 %} class="negative"{% endif %}>
          {{person.difference_today(1)}} </td>
      </tr>
      {% endfor %}
    </tbody>
   {% endblock %}
</body>
</html>
