name: Linters
on:
  push:
    branches:
      - master
  pull_request:
env:
  PYTHON_VERSION: 3.9.9
jobs:
  black:
    runs-on: ubuntu-latest
    steps:
        - uses: actions/checkout@v3

        - name: Set up Python ${{ env.PYTHON_VERSION }}
          uses: actions/setup-python@v3
          with:
            python-version: ${{ env.PYTHON_VERSION }}

        - name: Setup poetry
          uses: Gr1N/setup-poetry@v7

        - name: Setup cache
          uses: actions/cache@v3
          with:
            path: ~/.cache/pypoetry/virtualenvs
            key: venv-${{ runner.os }}-${{ env.PYTHON_VERSION }}-${{ hashFiles('**/poetry.lock') }}

        - name: Install dependencies with Poetry
          run: |
            poetry install

        # install black as dev dependency after we upgraded flask>=2
        - run: poetry run pip install black

        - run: poetry run black --check .

  isort:
    runs-on: ubuntu-latest
    steps:
        - uses: actions/checkout@v3

        - name: Set up Python ${{ env.PYTHON_VERSION }}
          uses: actions/setup-python@v3
          with:
            python-version: ${{ env.PYTHON_VERSION }}

        - name: Setup poetry
          uses: Gr1N/setup-poetry@v7

        - name: Setup cache
          uses: actions/cache@v3
          with:
            path: ~/.cache/pypoetry/virtualenvs
            key: venv-${{ runner.os }}-${{ env.PYTHON_VERSION }}-${{ hashFiles('**/poetry.lock') }}

        - name: Install dependencies with Poetry
          run: |
            poetry install

        - run: poetry run isort --check .

  flake8:
    runs-on: ubuntu-latest
    steps:
        - uses: actions/checkout@v3

        - name: Set up Python ${{ env.PYTHON_VERSION }}
          uses: actions/setup-python@v3
          with:
            python-version: ${{ env.PYTHON_VERSION }}

        - name: Setup poetry
          uses: Gr1N/setup-poetry@v7

        - name: Setup cache
          uses: actions/cache@v3
          with:
            path: ~/.cache/pypoetry/virtualenvs
            key: venv-${{ runner.os }}-${{ env.PYTHON_VERSION }}-${{ hashFiles('**/poetry.lock') }}

        - name: Install dependencies with Poetry
          run: |
            poetry install

        - run: poetry run flake8 .
